/*От гео карт, добавляет высоту, начинает все дергаться, если будет проблема с свгшной картой
 то смело стирайте это правило, но есть вероятность что сново будет дергаться все*/
.jvectormap-label
{
	/*Импортант для того чтобы перебить атрибут*/
	display: none !important;
}
.footer
{
	margin-top: -38px;
	position: relative;
	z-index: 999;
	background: #242333;
	border: 0;
}
#page-wrapper
{
	min-height: 100%;
	padding-bottom: 39px;
}
html, body
{
	height: 100%;
	min-height: 100%;
}
body
{
	height: 100%;
	/*background: #f1f1f1;*/
}
.logo-sidebar-holder
{
	background: #233745;
	height: 157px;
	line-height: 1;
	position: relative;
	right: -1px;
	border-right: 1px solid #fff;
}
.logo-sidebar
{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 65px 0 0 23px;
	display: block;
}
.logo-sidebar:hover
{
	color: #F93920;
}
/*.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus
{
	background-color: #1AB7A4;
	color: #f1f1f1;
}
.nav.nav-second-level.collapse.in li>a
{
	color: #f1f1f1;
}
.nav > li.active
{
	background-color: #1AB7A4; 
}
.nav > li > a:hover
{
	color: #f1f1f1;
}
.nav > li > a > .fa.arrow:before
{
	content: "\f0da";
}
.nav > li.active > a > .fa.arrow:before
{
	content: "\f0d7";
}*/

.nav > li > a .fa
{
	display: none;
}
#page-wrapper
{
	border-left: 1px solid #E0E0E0;
}
#wrapper
{
	height: 100%;
}
.white-bg
{
	background: #fff;
}
table.zh-table-1 span.grey-helper
{
	display: block;
}
table.zh-table-1 td
{
	text-align: center;
}
table.zh-table-1>thead
{
	background-color: #F1F1F1;
}	table.zh-table-1>thead:first-child>tr:first-child>th
	{
		border: 1px solid #E5E5E5;		
	}
	table.zh-table-1>tbody>tr>
	{
		background-color: #fff;
	}	table.zh-table-1>tbody>tr>td
		{
			border: 1px solid #E5E5E5;		
		}
.table.table-striped td
{
	text-align: center;
}
.table.table-striped th
{
	text-align: center;
}
.table.table-striped th span
{
	font-weight: normal;
}
.m-l-10
{
	margin-left: 10px;
}
span.grey-helper
{
	display: block;
	color: #B1B1AF;
}
.square-city
{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: .5rem;
	margin-right: .5rem;
	background-color: transparent;
}
.square-city.square-blue		{background-color: #28829D;}
.square-city.square-green		{background-color: #57A83F;}
.square-city.square-brown		{background-color: #CB6139;}
.square-city.square-yellow		{background-color: #E8E935;}
.square-city.square-seablue		{background-color: #42BFC5;}
.square-city.square-lime		{background-color: #80D989;}
.square-city.square-orange		{background-color: #E0A273;}
.square-city.square-lemon		{background-color: #F5F287;}
.square-city.square-lightblue	{background-color: #7BEEC7;}
.square-city.square-grey		{background-color: #BFD9E8;}

header.section-header
{
	background-color: #f1f1f1;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	/*Начинаем убивать bootstrap*/
	padding-left: 40px;
	padding-right: 40px;
	margin-left: -40px;
	margin-right: -40px;
	margin-top: -4px;
}
.section-header h2
{
	/*И даже здесь делаем ужасные вещи с бутстрапом*/
	margin-left: -30px;
	margin-top: 10px;
	font-size: 2rem;
}
.section-header h2 i
{
	font-size: 2rem;
}
main.section-body
{
	/*Продолжаем убивать бутстрап*/
	margin-right: -40px;
	padding-right: 40px;
	border-right: 1px solid #E0E0E0;
}
.zh-chart-holder
{
	padding-top: 40px;
	padding-bottom: 20px;
}
.options-holder
{
	padding-top: 3px;
}
.table-options
{
	background-color: #f1f1f1;
	border: 1px solid #e0e0e0;
	padding-top: 5px;
	padding-left: 5px;
	border-bottom: 0;
}
.table-options .btn-default
{
	margin-top: 2px;
	margin-left: 1rem;
	padding: 4px 10px;
} 
.new-order
{
	border-color: #558E59;
	background-color: #558E59; 
}
table.zh-table-1>thead>tr>th:first-child form
{
	width: 22px;
	margin: 0 auto;
}
table.zh-table-1>tbody>tr>td:first-child form
{
	width: 22px;
	margin: 0 auto;
}
.status-circle
{
	width: 1.5rem;
	display: inline-block;
	height: 1.5rem;
	margin: .8rem;
	border-radius: 50%;
}
.status-circle.green
{
	background-color: #17A841;
}
.zh-btn-default
{
	border-color: #e0e0e0;
	background-color: #F3F3F3;
	color: #1F1F1F;
}
.zh-table-last-row>tbody>tr:last-child
{
	background-color: #F1F1F1;
}
.zh-table-last-row>tbody>tr:last-child td
{
	border: 0;
	font-weight: bold;
}
.zh-table-last-row>tbody>tr:last-child td.resulted
{
	border: 1px solid #e0e0e0;
}
.grey-bg
{
	background-color: #f3f3f4;	
}
.zh-charts .ibox-title
{
	position: relative;
	bottom: -1px;
	border-bottom: 1px solid #fff;
}
.zh-charts .ibox-title h5
{
	width: 100%;
	font-size: 2rem;
	color: #1f1f1f;
	text-align: center;
}
.button-play, .button-pause, .button-stop
{
	color: #c5c9cc;
	display: inline-block;
	font-size: 1.8rem;
	margin-right: .5rem;
}
.button-play:hover, .button-pause:hover, .button-stop:hover
{
	color: #c5d9dd;
}
.button-play.active
{
	color: #15b396;
}
.button-pause.active
{
	color: #ead629;
}
.button-stop.active
{
	color: #f00;
}